@page "/Account"
@attribute [Authorize(Roles = "Admin")]
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3><i class="bi bi-person-rolodex" /> Accounts</h3>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPage" />
<div class="card">
    <div class="card-header">
        <span>
          
            <a class="btn btn-dark btn-sm float-start" @onclick=@(() => ShowModal2())><i class="bi bi-plus-circle" /> New Account</a>

        </span>
    </div>

    <div class="mx-2">

        <tr>

            <th><input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Search Account by Account Number" @bind-value="Filter" /></th>

            <th>    <button type="button" class="btn btn-outline-success" @onclick="ApplyFilterAsync">Filter</button></th>

            <th>  <button type="button" class="btn btn-outline-warning" @onclick="CleanFilterAsync">Clean</button></th>
        </tr>



    </div>

    <div class="card-body">

        <GenericList MyList="Accounts">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <b>Account Number</b>
                            </td>
                            <td>
                                <b>Broker</b>
                            </td>
                                                        <td>
                                <b>Trader</b>
                            </td>
                            <td>
                                <b>Account Type</b>
                            </td>
                            <td>
                                <b>Creation Date</b>
                            </td>
                            <td>
                                <b>Initial Balance</b>
                            </td>

                            <td>
                                <b>Actions</b>
                            </td>

                        </tr>
                        @foreach (var account in Accounts!)
                        {
                            Brokername(@account.BrokersId);
                            TraderName(@account.UsersId);
                            AccTypeName(@account.AccTypesId);

                            <tr>
                                <td>
                                    @account.AccNumber
                                </td>
                                <td>
                                    @brokername
                                </td>
                                                                <td>
                                    @tradername
                                </td>
                                <td>
                                    @acctypename
                                </td>
                                <td>
                                    @account.CreationDate
                                </td>
                                <td>
                                    @account.InitialBalance
                                </td>

                                <td>
                                    <a @onclick=@(() => ShowModal(account.AccNumber, true)) class="btn btn-outline-primary ">Edit <i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-outline-danger" @onclick=@(() => Delete(account))>Delete <i class="bi bi-trash3"></i></button>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>



@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";
    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";



    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    private async Task ShowModal(int id = 0, bool isEdit = false)

    {
        IModalReference modalReference;
        modalReference = Modal.Show<AccountEdit>(string.Empty, new ModalParameters().Add("AccountAccNumber", id));

        var result = await modalReference.Result;
        if (result.Confirmed)
        {
            await Charging();
        }
    }

    private async Task ShowModal2()

    {
        IModalReference modalReference;


        modalReference = Modal.Show<AccountCreate>();

        var result = await modalReference.Result;
        if (result.Confirmed)
        {
            await Charging();
        }
    }

    private int currentPage = 1;
    private int totalPages;

    public string brokername { get; set; }

    public string tradername { get; set; }

    public string acctypename { get; set; }


    public List<Account> Accounts { get; set; }

    public List<Broker> Brokers { get; set; }

    public List<User> Users { get; set; }

    public List<AccType> AccTypes { get; set; }



    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await Charging(page);
}


    private async Task Charging(int page = 1)
    {

        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }
        string url1 = string.Empty;
        string url2 = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url1 = $"api/account?page={page}";
            url2 = $"api/account/totalPages";
        }
        else
        {
            url1 = $"api/account?page={page}&filter={Filter}";
            url2 = $"api/account/totalPages?filter={Filter}";
        }

    
        var responseHppt = await Repository.GetAsync<List<Account>>(url1);
        var responseHppt2 = await Repository.GetAsync<int>(url2);
        Accounts = responseHppt.Response!;
        totalPages = responseHppt2.Response!;

            

        var response2HTTP = await Repository.GetAsync<List<Broker>>("/api/brokers");
        Brokers = response2HTTP.Response!;

        var response3HTTP = await Repository.GetAsync<List<User>>("/api/Users");
        Users = response3HTTP.Response!;

        var response4HTTP = await Repository.GetAsync<List<AccType>>("/api/acctypes");
        AccTypes = response4HTTP.Response!;


    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }
    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await Charging(page);
        await SelectedPage(page);
    }


    private async Task Delete(Account account)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirm",
                Text = $"You really want to delete the Account : {account.AccNumber}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "yes"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/account/{account.AccNumber}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/account");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {

            await Charging();

            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    ShowConfirmButton = true,
                    Timer = 3000,
                    Position = SweetAlertPosition.BottomEnd
                });
            toast.FireAsync(icon: SweetAlertIcon.Success, message: "Account Successfully Deleted.");
        }
    }
    private void Brokername(int? selection)

    {
        brokername = "";
        foreach (var broker in Brokers!)
        {
            if (selection == broker.Id)
            {
                brokername = broker.Name;
            }

        }
    }
    private void TraderName(string selection)

    {
        tradername = "";
        foreach (var trader in Users!)
        {
            if (selection == trader.Id)
            {
                tradername = trader.Email;
            }

        }
    }
    private void AccTypeName(int? selection)

    {
        acctypename = "";
        foreach (var acctype in AccTypes!)
        {
            if (selection == acctype.Id)
            {
                acctypename = acctype.Name;
            }

        }
    }
}


