@using TradingJournal.Shared.Entities
@using TradingJournal.Web.Repositories
@inject IRepository Repository
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="User" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Document</label>
        <div>
            <InputText width="10" @bind-Value="@User.Document"></InputText>
            <ValidationMessage For="@(() => @User.Document)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Frist Name</label>
        <div>
            <InputText width="10" @bind-Value="@User.FirstName"></InputText>
            <ValidationMessage For="@(() => @User.FirstName)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <div>
            <InputText width="10" @bind-Value="@User.LastName"></InputText>
            <ValidationMessage For="@(() => @User.LastName)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Address</label>
        <div>
            <InputText width="10" @bind-Value="@User.Address"></InputText>
            <ValidationMessage For="@(() => @User.Address)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <div>
            <InputText width="10" @bind-Value="@User.Email"></InputText>
            <ValidationMessage For="@(() => @User.Email)" />
        </div>
    </div>
    
        

    <button class="btn btn-primary" type="submit">Save <i class="bi bi-floppy2"></i></button>


    <button class="btn btn-info" type="reset">Clean <i class="bi bi-x-octagon"></i></button>


    <button class="btn btn-secondary" @onclick="ReturnAction">Return <i class="bi bi-arrow-clockwise"></i></button>

</EditForm>




@code {


    [EditorRequired]
    [Parameter]
    public User User { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


}