@page "/info/{id}"
@using CoinpaprikaAPI.Entity;
@inject IRepository Repository

<PageTitle>Coin Info</PageTitle>


<h3><i class="bi bi-coin" /> @coinList.Name</h3>

<div class="card">
    <div class="card-header">
    </div>


    <div class="card-body">



        <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                <td>

                <tr>
                    <b>Description</b>
                </tr>
                <br />
                <tr>
                            @coinList.Description
                </tr>
                <br />

                <tr>
                    <b>Proof Type</b>
                </tr>
                <br />
                <tr>
                            @coinList.ProofType
                </tr>
                <br />

                <tr>
                    <b>First Data At</b>
                </tr>
                <br />
                <tr>
                            @coinList.FirstDataAt
                </tr>
                <br />

                <tr>
                    <b>Development Status</b>
                </tr>
                <br />
                <tr>
                            @coinList.DevelopmentStatus
                </tr>
                <br />

                <tr>
                    <b>Symbol</b>
                </tr>
                <br />
                <tr>
                            @coinList.Symbol
                </tr>
                <br />

                <tr>
                    <b>Structure</b>
                </tr>
                <br />
                <tr>
                            @coinList.OrgStructure
                </tr>
                <br />

                <tr>
                    <b>Id</b>
                </tr>
                <br />
                <tr>
                            @coinList.Id
                </tr>
                <br />

                </td>

                </tbody>
            </table>

        </Body>


    </div>
</div>



@code {

    [Parameter]
    public string id { get; set; }

    private ExtendedCoinInfo coinList = new ExtendedCoinInfo();


    protected async override Task OnInitializedAsync()
    {
        await Charging();


    }



    private async Task Charging()
    {

        var responseHppt = await Repository.GetAsync<CoinpaprikaAPI.Entity.ExtendedCoinInfo>($"api/coins/{id}");

        coinList = responseHppt.Response!;

  


    }



}
