@page "/test"
@using CoinpaprikaAPI
@using CoinpaprikaAPI.Entity
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager NavigationManager




<h1>coin</h1>
<div class="row">
    


</div>



    <table class="table">
        <thead>
            <tr>
                <th>TimeOpen </th>
                <th>TimeClose </th>
                <th>Open </th>
                <th>High </th>
                <th>Low </th>
                <th>Close  </th>
                <th>Volume  </th>
                <th>MarketCap  </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@coinDetailsList[0].TimeOpen </td>
                <td>@coinDetailsList[0].TimeClose </td>
                <td>@Math.Round(coinDetailsList[0].Open, 2)</td>
                <td>@Math.Round(coinDetailsList[0].High, 2)</td>
                <td>@Math.Round(coinDetailsList[0].Low, 2)</td>
                <td>@Math.Round(coinDetailsList[0].Close, 2)</td>
                <td>@coinDetailsList[0].Volume </td>
                <td>@coinDetailsList[0].MarketCap </td>
            </tr>

        </tbody>
    </table>





@code {
      

    private List<CoinpaprikaAPI.Entity.OhlcValue> coinDetailsList;  

    protected override async Task OnInitializedAsync()    {

        await GetCoinInfo();
    }

    private async Task GetCoinInfo()
    {
            
            var responseHppt = await Repository.GetAsync<List<CoinpaprikaAPI.Entity.OhlcValue>>("api/coins/1");

            coinDetailsList = responseHppt.Response!;       

    
       
           



    }


}


