@page "/Traders"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]
@using TradingJournal.Shared.Entities
@using TradingJournal.Web.Repositories
@using TradingJournal.Web.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3><i class="bi bi-person-badge" /> Traders</h3>
<div class="card">
    <div class="card-header">
        <span>
            <a class="btn btn-primary btn-sm float-start" href="/Traders/create"><i class="bi bi-plus-circle" /> New Trader</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="Traders">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <b>Trader Id</b>
                            </td>
                            
                            <td>
                                <b>Name</b>
                            </td>
                            <td>
                                <b>Address</b>
                            </td>
                            <td>
                                <b>Cell Number</b>
                            </td>
                            <td>
                                <b>Trader Type</b>
                            </td>
                          

                        </tr>
                        @foreach (var trader in Traders!)
                        {
                            Tradertype(@trader.TraderTypesId);

                            <tr>
                                <td>
                                    @trader.Id
                                </td>
                                <td>
                                    @trader.Name
                                </td>
                                <td>
                                    @trader.Address
                                </td>
                                <td>
                                    @trader.CellNumber
                                </td>
                                <td>
                                    @tradertype
                                </td>


                                <td>
                                    <a href="/Traders/edit/@trader.Id" class="btn btn-warning">Edit <i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick=@(() => Delete(trader))>Delete <i class="bi bi-trash3"></i></button>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>



@code {


    public string tradertype { get; set; }

    public List<Trader> Traders { get; set; }

    public List<TraderType> TraderTypes { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }



    private async Task Charging()
    {
        var responseHTTP = await Repository.GetAsync<List<Trader>>("/api/Traders");
        Traders = responseHTTP.Response!;

        var response2HTTP = await Repository.GetAsync<List<TraderType>>("/api/TraderTypes");
        TraderTypes = response2HTTP.Response!;  

    }


    private async Task Delete(Trader trader)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirm",
                Text = $"You really want to delete the Trader : {trader.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "yes"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/traders/{trader.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/traders");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {

            await Charging();

            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    ShowConfirmButton = true,
                    Timer = 3000,
                    Position = SweetAlertPosition.BottomEnd
                });
            toast.FireAsync(icon: SweetAlertIcon.Success, message: "Trader Successfully Deleted.");
        }
    }

    private void Tradertype(int? selection)

    {
        tradertype = "";
        foreach (var tradert in TraderTypes!)
        {
            if (selection == tradert.Id)
            {
                tradertype = tradert.Name;
            }

        }
    }
}